<style>
	#albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-items: stretch;
    align-items: center;
	}
	#albums .album {
		position: relative;
		cursor: default;
	}
	#albums .album h2 {
		text-align: center;
		position: absolute;
		padding: 10px;
		left: 50%;
		transform: translateX(-50%);
		top: 30%;
		background-color: rgba(14,173,255,.7);
		border-radius: 5px;
		text-transform: uppercase;
		max-width: 85%;
		overflow: hidden;
		overflow-wrap: break-word;
		color: #fff;
		cursor: pointer;
		z-index: 1;
	}
	#albums .album img {
		width: 100%;
		border-radius: 5px;
		cursor: pointer;
		opacity: .7;
	}

	#albums i {
		position: absolute;
		bottom: 20px;
	    right: 20px;
	    background-color: transparent;
	    color: #fff;
	    font-size: 25px;
	    cursor: pointer;
			z-index: 1;
	}
	#albums .album i:hover {
		color: #af0e40;
	}
	#new-album{
		position: fixed;
		bottom: 1rem;
		right: -webkit-calc(50% - 48rem);
		right: expression(50% - 48rem);
		right: -moz-calc(50% - 48rem);
		right: -o-calc(50% - 48rem);
		right: calc(50% - 48rem);
		cursor: pointer;
		font-weight: bold;
	}
	@media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), (max-width: 100rem) {
			#new-album{
				right: 2rem;
			}
		}
	@media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), (max-width: 75rem) {
			#albums {
				grid-template-columns: 1fr 1fr 1fr;
			}
			#new-album{
				right: 2rem;
				bottom: 0.5rem;
			}
    }
	 @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), (max-width: 56rem) {
			#albums {
				grid-template-columns: 1fr 1fr;
			}
    }
		 @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), (max-width: 35rem) {
			#albums {
				grid-template-columns: 1fr;
			}
    }
</style>
{{> nav }}
<section>
	<button id="new-album" onclick="openModal()">+ Create New Album</button>
	<div id="albums">
		{{#each albums as |album|}}
		  <a id="{{ album._id }}" href="album/{{ album._id }}" class="album">
		  	<h2>{{ album.name }}</h2>
		  	{{#if album.photos.[0]}}
		  		<img src="{{ album.photos.[0] }}" alt="{{ album.name }} image" />
		  	{{else}}
		  		<img src="https://images.homedepot-static.com/productImages/b629ec8f-b170-4973-bdcf-447b80dc447e/svn/platinum-matte-formica-laminate-sheets-009021258512000-64_400_compressed.jpg" 
						alt="{{ album.name }} image" />
		  	{{/if}}
				<i onclick="deleteAlbum(event)" class="fas fa-trash"></i>
		  </a>
		{{/each}}
	</div>
</section>
{{> modal }}