<style>
	#albums {
		display: flex;
		justify-content: left;
		align-items: center;
		flex-flow: wrap;
		padding: 10px 0;
	}
	#albums .album {
		width: 33%;
		max-width: 350px;
		position: relative;
		cursor: default;
		margin: 5px;
	}
	#albums .album h2 {
		text-align: center;
		position: absolute;
		padding: 10px;
		left: 50%;
		transform: translateX(-50%);
		top: 30%;
		background-color: rgba(255,255,255,.9);
		border-radius: 5px;
		text-transform: uppercase;
		max-width: 85%;
		overflow: hidden;
		overflow-wrap: break-word;
		color: #444;
		cursor: pointer;
		z-index: 1;
	}
	#albums .album img {
		width: 100%;
		border-radius: 5px;
		cursor: pointer;
		opacity: .7;
	}

	#albums i {
		position: absolute;
		bottom: 20px;
	    right: 20px;
	    background-color: transparent;
	    color: #fff;
	    font-size: 25px;
	    cursor: pointer;
			z-index: 100000;
	}
	#albums .album i:hover {
		color: #af0e40;
	}
</style>

<section>
	<h1>Albums</h1>
	<button onclick="openModal()">Create New Album</button>
	<div id="albums">
		{{#each albums as |album|}}
		  <a id="{{ album._id }}" href="album/{{ album._id }}" class="album">
		  	<h2>{{ album.name }}</h2>
		  	{{#if album.photos.[0]}}
		  		<img src="{{ album.photos.[0] }}" alt="{{ album.name }} image" />
		  	{{else}}
		  		<img src="https://images.homedepot-static.com/productImages/b629ec8f-b170-4973-bdcf-447b80dc447e/svn/platinum-matte-formica-laminate-sheets-009021258512000-64_400_compressed.jpg" 
						alt="{{ album.name }} image" />
		  	{{/if}}
				<i onclick="deleteAlbum(event)" class="fas fa-trash"></i>
		  </a>
		{{/each}}
	</div>
</section>
{{> modal }}